<% if logged_in? %>
  <script type="text/javascript">
    <% if lookup_context.exists?("api/users/user", [], true) %>
      window.currentUser = <%= render(
          "api/users/user",
          user: current_user
        ).html_safe %>
    <% else %>
      console.error("Partial not found: api/users/user");
    <% end %>
  </script>
<% end %>

<main id="root"></main>
