 .main {
   position: absolute;
   padding: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin: auto;
 }

 .splash {
   background: image-url("arch.jpg");
   background-position: 10%, 80%;
   width: 100%;
   height: inherit;
 }

 .topbar {
   background-color: rgba(0, 0, 0, 0.3);
   align-items: center;
   display: flex;
   justify-content: space-between;
 }


 .topsec {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .navbar-left {
   background-color: none;
   padding: 10px;
 }

 .twobar {
   width:auto;
   justify-content: flex-end;
   padding: 5px;
   display: flex;
   margin: 0 10px;
   align-items: flex-end;
 }

 .twobar li {
   display: inline-block;
   justify-content: flex-end;
   align-items: flex-end;
   padding-top: 0;
   list-style: none;
   margin: 0 10px;
 }

 .splashbuttons{
   width: 500px;
   text-shadow: 5px;
   font-weight: bolder;
   color: white;
   text-align: right;
   text-decoration: none;
   display: inline-block;
 }

 .icon {
   color: white;
   margin-left: 10px;
 }


 a:hover {
    color: red;
    text-decoration: none;
}

.login-form {
  position:relative;
  display: flex-end;
  align-items: flex-end;
  align-content: right;
  justify-content: right;
  color: black;
  text-shadow: 5px;
  font-weight: bolder;
  color: black;
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login-form-box {
  background-color: white;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splashbuttons {

}
