.remove-all-css {
  all: none;
}

* {
  font-family: sans-serif;
}

.main {
   position: block;
   min-height: 100vh;
   min-width: 100vh;
}

body {
  margin: 0;
}

.footer {
  height: 500px;
  background-color: blue;
}

.loginbuttons {
  outline: none;
}

.hrtag {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.splash {
  background: image-url("arch.jpg");
  background-position: 30%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat-x;
  position: absolute;
}

.topbar {
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  top: 0;
  position: relative;
  z-index: 10;
  -webkit-box-align: center;
  border-bottom: 1px solid red;
  height: 79px;
}

.topsec {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.splash-topbar {
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  background-color: none;
  margin-left: 30px;
  margin-right: 15px;
  padding-right: 15px;
}

.navbar-left:hover {
  cursor: pointer;
}

.twobar {
  height: 79px;
  width: auto;
  justify-content: flex-end;
  padding: 5px;
  display: flex;
  margin: 0 10px;
  align-items: flex-end;
}

.twobar li {
  display: inline-block;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 0;
  list-style: none;
  margin: 0 10px;
}

.splashbuttons {
  width: 500px;
  font-weight: bolder;
  color: white;
  text-align: right;
}

.loginbuttons {
  text-shadow: 5px;
  font-size: 15px;
  height: 78px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

.loginbuttons:hover {
  border-bottom: 1px solid orange;
  color: orange;
}

.icon {
  color: white;
  margin-left: 10px;
}

a:hover {
  color: red;
  text-decoration: none;
}

.modal-background {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-container {
  position: relative;
  max-width: 568px;
  border-radius: 12px;
  color: black;
  box-sizing: border-box;
  margin: auto;
  z-index: 12;
  background-color: white;
  width: 568px;
}

.login-form-box {
  box-sizing: border-box;
  background-color: transparent;
  padding: 24px 24px;
  outline: none;
}

.login-header-container {
  padding: 24px 24px 6px 24px;
  border-bottom: 1px solid rgb(226, 224, 224);
}

.login-header {
  display: flex;
  align-self: center;
  justify-content: center;
}

.close-x {
  position: absolute;
  width: 24px;
}

.login-form {
}

.email {
  border-bottom: .5px solid rgb(158, 157, 157);
}

.label-submit {
  border: .5px solid rgb(158, 157, 157);
  border-radius: 8px;
  margin-bottom: 16px;
}

.label-submit:hover {
  cursor: default;
}

.form-submit:hover {
  cursor: default;
}

.close-x {
  font-weight: 100;
  font-size: 20px;
  height: 16px;
  width: 24px;
  justify-content: flex-start;
  text-align: left;
  cursor: pointer;
  padding-bottom: 10px;
  z-index: 12;
}

.login-greet {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: rgb(72, 72, 72);
  align-self: center;
  justify-content: center;
  position: relative;
  font-family: sans-serif;
  min-height: 40px;
  width: 100%;
  text-align: center;
}

.render-errors {
  margin-top: 30px;
}

.errors {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  padding-right: 35px;
  font-weight: 400;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
}

.form-submit {
  font-size: 16px;
  height: 48px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: sans-serif;
  font-weight: 400;
}

.form-submit:focus::placeholder {
  color: transparent;
}

.email-component {
  border-bottom: .5px solid rgb(158, 157, 157);
}

.form-submit::placeholder {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.session-submit {
  height: 44px;
  width: 100%;
  background-color: #db1338;
  color: white;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  outline: none;
  border: none;
  font-family: sans-serif;
  font-weight: 400;
}

.session-submit:hover {
  cursor: pointer;
}

.demo-button:hover {
  cursor: pointer;
}

.demo-button {
  background-color: #417af4;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  height: 44px;
}

.or-otherform {
  text-decoration: none;
  text-shadow: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #1c695b;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}

.sl-text {
  text-align: center;
  font-size: 13px;
  margin-top: 36px;
  font-family: sans-serif;
  font-weight: 300;
}

.greet-topsec {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  top: 0;
  position: fixed;
  z-index: 5;
  border-bottom: 2px solid #dddddd;
}

.greet-leftsec {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start
}

.greet-splashbuttons {
  width: 500px;
  font-weight: bolder;
  color: black;
  text-align: right;
  top: 0;
  z-index: 5;
}

.greet-loginbuttons:focus {
  outline: none;
}

.loggedin-buttons {
  height: 100%;
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  z-index: 5;
}

.header-button {
  text-decoration: none;
  text-shadow: 5px;
  font-size: 15px;
  height: 100%;
  font-weight: bold;
  color: black;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.header-button:focus {
  outline: none;
}

.header-button:hover {
  border-bottom: 1px solid orange;
  color: orange;
}

.greet-loginbuttons {
  text-shadow: 5px;
  font-size: 15px;
  height: 80px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

.greet-loginbuttons:hover {
  border-bottom: 1px solid orange;
  color: orange;
}

.greet-icon {
  color: black;
  margin-left: 10px;
}

.greethr {
  color: #f8f9f9;
  height: 1;
}

.body-content {
  display: block;
  box-sizing: border-box;
  padding-bottom: 0px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.index-body {
  min-height: calc(100vh-80px);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  display: box;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.sidenav {
  top: 0px;
  display: block;
  left: auto;
  width: calc(100% - 840px);
  position: absolute;
  right: 0px;
  box-sizing: border-box;
  height: 100%;
}

.map {
  height: 100vh;
  padding-top: 80px;
  margin-top: -80px;
  position: sticky;
  top: 0px;
  width: 100% !important;
  contain: content !important;
  display: block;
  box-sizing: border-box;
}

.google-map {
  position: relative;
  height: 100%;
  width: 100%;
  --page-shell-max-content-width: none;
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur),
  default;
  touch-action: none;
}

.street-map {
  height: 500px;
  width: 100%;
  margin-bottom: 32px;
  overflow: visible;
}

.listing-body-info-state {
  margin-bottom: 16px;
  color: rgb(34, 34, 34);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.sleeping-arrangements-container {
  padding: 48px 0;
  border-bottom: 1px solid lightgray;
}

.sleeping-arrangements-header {
  padding-bottom: 24px;
}

.sleeping-arrangements-text {
  color: rgb(34, 34, 34);
  font-weight: 600;
  font-size: 22px;
  font-family: sans-serif;
}

.sleeping-arrangements-images-container {
  display: flex;
  justify-content: flex-start;
  margin-left: -8px;
  margin-right: -8px;

}

.sleeping-arrangements-images-item-frame {
  width: 33%;
}

.sleeping-arrangements-images-item {
 padding-left: 8px;
 padding-right: 8px;
}

.sleeping-arrangements-images-item-frame-inner {
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  border-image: initial;
}

.sleeping-arrangements-image-container {
}

.bed-image-1 {
  padding-bottom: 16px;
  height: 36px;
  width: 36px;
  left: -6px;
  position: relative;
}

.bed-image-2 {
  padding-bottom: 16px;
  height: 36px;
  width: 30px;
  left: -3px;
  position: relative;
}

.bed-img {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bed-image-header {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}

.bed-image-text {
  font-weight: 300;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 20px;
}

.daypicker-container {
  padding: 48px 0;
}

.daypicker-header-text1 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
}

.daypicker-header-text2 {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 300;
  padding-top: 8px;
  color: rgb(113, 113, 113)
}

.daypicker-calendar-container {
  margin-top: 22px;
}

.DayPickerKeyboardShortcuts_show {
  display: none;
}

.daypicker-calendar-clear-dates-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;  
}

.daypicker-calendar-clear-dates-button:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.daypicker-calendar-clear-dates-button {
  border-radius: 8px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  outline: none;
  font-size: 14px;
  width: auto;
  padding: 8px;
}

.DayPickerNavigation_button__horizontalDefault {
  outline: none;
  border: none !important;
}

.CalendarDay__default {
  outline: none;
  border: none !important;
}

.CalendarDay__selected,
.CalendarDay__default,
.CalendarDay__selected:hover {
  border-radius: 50%;
}

.list-body {
  min-height: 100vh;
  width: 840px;
  min-width: 547px;
  display: block;
  box-sizing: border-box;
  position: relative;
  align-content: center;
  z-index: 3;
  --page-shell-max-content-width: none:
  background-color: inherit;
  background-clip: border-box;
}

.list-header {
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
}

.list-header-container {
  padding-top: 50px;
  background-color: white;
}

.list-header-list-items-mini-text {
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  padding-bottom: 8px;
  background-color: white;
}

.list-header-list-items-description {
  font-size: 32px;
  line-height: 36px;
  color: #222222;
  font-weight: 800;
  background-color: white;
}

.list-header-list-items-description-text {
  color: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: white;
}

.list-items {
  min-height: 400px;
  max-width: none;
  display: block;
  box-sizing: border-box;
  padding-top: 50px;
  overflow: hidden;
  overflow-anchor: none;
  --page-shell-max-content-width: none;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  background-clip: border-box;
  margin: 0;
}

.space {
  height: 100%;
  width: 100%;
  background-color: white;
}

.listing-index {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  background-color: white;
  background-clip: border-box;
}

.listing-index-container {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 12px;
  display: block;
  background-color: white;
}

.listing-info {
  display: flex;
  height: 100%;
  position: relative;
  padding-top: 4px;
  padding-bottom: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebe8e8;
  background-color: white;
}

.listing-index-item {
  border-radius: 8px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: white;
}

.listing-index:hover {
  cursor: pointer;
  background-color: white;
}

.index-item-img {
  flex-shrink: 0;
  display: block;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 4px;
}

.list-img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  contain: content;
  overflow: hidden;
  position: relative;
  object-fit: fill;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.index-item-info {
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 200px;
  margin-left: 16px;
  background-color: white;
  box-sizing: border-box;
}

.index-item-info-description {
  -webkit-box-align: start;
  display: flex;
  align-items: flex-start;
}

.index-item-info-description-container {
  margin-right: 16px;
  flex: 1 1 0%;
}

.plus {
  padding-top: 3px;
  height: 25px;
  width: 100px;
  display: flex;
  align-items: center;
}

.trip-plus {
  padding-top: 3px;
  height: 25px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-item-title {
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 24px;
}

.index-item-divider {
  margin-top: 11px;
  width: 32px;
  border-top: 1px solid rgb(221, 221, 221);
}

.index-item-amenities1 {
  color: rgb(113, 113, 113);
  font-weight: 400;
  min-height: 18px;
  font-size: 14px;
  line-height: 18px;
  max-height: 18px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 9px;
  
}

.index-item-amenities2 {
  margin-top: 4px;
  color: rgb(113, 113, 113);
  font-weight: 400;
  min-height: 18px;
  font-size: 14px;
  line-height: 18px;
  max-height: 18px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.index-item-footer {
  -webkit-box-flex: 1;
  -webkit-box-align: end;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  box-sizing: border-box;
  -webkit-box-direction: normal;
}

.index-item-rating {
  margin-right: 12px;
  display: block;
  box-sizing: border-box;
  -webkit-box-direction: normal;
  margin-bottom: -5px;
}

.index-item-price-container {
  margin-left: auto;
  box-sizing: border-box;
  display: block;
}

.index-item-price {
  position: relative;
  text-align: right;
  display: block;
}

.index-item-price-text {
  -webkit-box-pack: end;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(34, 34, 34);
  display: flex;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  justify-content: flex-end;
  text-align: right;
}

.index-item-price-integer {
  font-weight: 800;
}

.star {
  height: 14.5px;
  width: 14.5px;
  line-height: 5px;
}

.listing_index_info {
  height: 20px;
  width: 300px;
  padding: 20px;
}

.demoo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.listing-detail-page {
  position: relative;
  min-height: 100vh;
}

.list-show-body {
  display: block;
  box-sizing: border-box;
}

.list-show-header {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.list-show-header-description-container {
  max-width: none;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  line-height: 20px;
}

.list-show-header-description {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 88px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 24px;
}

.list-show-header-description-text {
  margin-bottom: 6px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
}

.list-show-header-description-otherInfo {
  margin-top: 0;
  align-items: flex-end;
  display: flex;
  height: 30px;
  flex-direction: row;
}

.show-rating:hover {
  cursor: default;
}

.plus-show {
  padding-top: 3px;
  height: 25px;
  width: 100px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -4px;
}

.show-interpunct {
  margin: 0px 8px;
}

.list-show-header-location {
  display: flex;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid rgb(197, 197, 197);
  display: block;
  align-items: flex-end;
  line-height: 20px;
  height: 19px;
  bottom: 3px;
  color: rgb(113, 113, 113)
}

.list-show-images-container {
  max-width: none;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.list-show-images img:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -webkit-filter: brightness(110%);
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
  overflow: hidden;
}

.list-show-images {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.list-show-images-pad {
  padding-top: 24px;
}

.list-show-images-frame {
  height: 500px;
  border-radius: 12px;
  max-height: calc(60vh - 64px);
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 300px;
}

.list-show-image-main {
  height: 100%;
  width: 50%;
  position: relative;
}

.list-show-image-main img {
  max-height: calc(60vh - 64px);
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.list-show-image-side {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.list-show-image-1-2 {
  height: 50%;
  width: 50%;
  position: relative;
  padding-left: 8px;
  min-height: 300px;
  
}

.index-image-top {
  max-height: calc(30vh - 32px);
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  
}

.index-image-bottom {
  padding-top: 5px;
  max-height: calc(30vh - 32px);
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}

.listing-body-container {
  padding-left: 80px;
  padding-right: 80px;
}

.listing-body-frame {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.listing-body-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.listing-body-description {
  width: 55%;
}

.listing-body-intro {
  padding-top: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.property-type {
  font-size: 20px;
  font-weight: 500;
}

.listing-amenities-preview {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.preview-house {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.preview-body {
  display: flex;
  flex-direction: column;
}

.amenities-preview {
  display: flex;
  flex-direction: row;
  height: 18px;
  align-content: space-between;
  list-style: none;
}

.amenities-text {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.amenities-icon {
  height: 13px;
  width: 13px;
  margin-right: 7px;
}

.listing-intro-description-container {
  padding: 32px 0px;
  border-bottom: 1px solid lightgrey;
}

.listing-intro-description {
  height: 100%;
}

.listing-intro-description-item {
  display: flex;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.listing-intro-description-item-bottom {
  display: flex;
  box-sizing: border-box;
}

.LID-item-image {
  flex-shrink: 0;
}

.LID-item-image-img {
  display: block;
  height: 24px;
  width: 24px;
  overflow: hidden;
  fill: currentColor;
}

.LID-item-text {
  margin-left: 16px;
  align-content: space-between;
  display: flex;
  flex-direction: column;
}

.LID-item-text-header {
  font-size: 16px;
  margin-bottom: 4px;
  display: flex;
}

.plus-show-header {
  width: 100px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -3px;
  left: -2px;
}

.LID-item-text-description {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  align-items: bottom;
  bottom: 0;
}

.bold {
  font-weight: 600;
}

.listing-body-info-location {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.listing-body-location {
  font-size: 22px;
  padding: 48px 0 24px;
  font-weight: 500;
  font-family: sans-serif;
}

.listing-body-location-bottom-container {
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
}
.listing-body-location-bottom-left {
  width: 41%;
  margin-right: 8%;
  padding-left: 8px;
  padding-right: 8px;
}

.listing-body-info-addy {
  padding: 0 0 24px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.listing-body-info-addy-prop {
  padding-top: 8px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.listing-body-info-addy-description {
  color: rgb(34, 34, 34) !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  word-break: break-word !important;
}

.listing-body-info-description {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  padding: 32px 0 48px 0;
  border-bottom: 1px solid lightgrey;
}

.booking-form {
  width: 33%;
  margin-left: 12%;
  position: relative;
  background-color: white;
  display: block;
  padding-bottom: 48px;
}

.booking-frame {
  top: 128px;
  background-color: white;
  position: sticky;
  display: block;
  box-sizing: border-box;
  z-index: 1;
  padding-right: 1px;
}

.booking-padding {
  padding-bottom: 48px;
}

.booking-body {
  margin-top: 48px;
  display: block;
  box-sizing: border-box;
}

.booking-body-margin {
  padding: 24px;
  border: 1px solid lightgrey;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  box-sizing: border-box;
}

.booking-body-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.booking-price {
  display: flex;
  flex-direction: row;
}

.booking-price-integer {
  font-size: 22px;
  display: flex;
  margin-right: 3px;
}

.booking-price-pernight {
  font-weight: 200;
  font-size: 12px;
  line-height: 34px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-left: 2px;
  margin-right: 0px;
  padding-right: 0px;
}

.booking-rating {
  padding-left: 0px;
  margin-left: 0px;
  width: auto;
  height: auto;
  font-size: 8px;
  align-self: center;
}

.booking-rating div {
  margin-right: 3px;
}

.booking-star-left {
  height: 12px;
  width: 12px;
  line-height: 5px;
  display: flex;
  align-items: bottom;
  margin-left: 3px;
}

.booking-star {
  height: 12px;
  width: 12px;
  line-height: 5px;
  display: flex;
  align-items: bottom;
}

.booking-dates-header {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 12px;
}

.date-picker {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(177, 177, 177);
  margin-top: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-family: sans-serif;
}

.date-picker:hover {
  cursor: pointer;
}

.DateRangePickerInput__withBorder {
  border-radius: 0 !important;
  border: none !important;
}

.DateRangePicker {
  top: 0 !important;
  right: 0 !important;
  display: block !important;
  background-color: transparent !important;
}

.DateRangePickerInput {
  width: 100% !important;
  left: 0 !important;
  display: flex !important;
  position: relative !important;
  align-content: space-around !important;
  justify-content: space-between !important;
  background-color: transparent !important;
}

div.DateInput.DateInput_1 {
 width: 45% !important;
 display: block !important;
 box-sizing: border-box !important;
 align-content: center !important;
 padding: 0 !important;
 background-color: transparent !important;
}

.DateInput_input {
  padding: 9px 0 !important;
  font-size: 14px !important;
  justify-content: center !important;
  margin: 0 1px !important;
  background-color: transparent !important;
  text-transform: uppercase !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  color: rgb(107, 107, 107) !important;
}

.DateInput_input::placeholder {
  font-size: 12px;
}

.DateRangePickerInput_arrow {
  width: 0% !important;
  display: none !important;
  background-color: transparent !important;
}

.DateRangePickerInput_clearDates {
  width: auto !important;
  background-color: transparent !important;
  position: relative !important;
  margin: 0 !important;  
  transform: none !important;
  background-color: transparent !important;
  outline: none !important;
}

.DateRangePickerInput__showClearDates {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

.DateRangePickerInput_clearDates_svg {
  height: 9px !important; 
  width: 9px !important;
  color: buttontext !important;
  stroke-width: 3;
  overflow: hidden;
}

#start-date,
#end-date {
  margin: 0;
  text-align: center;
  background-color: transparent !important;
}

.DateRangePickerInput_clearDates_svg {
  bottom: 15px !important;
}

#end-date:hover,
#start-date:hover {
  cursor: pointer;
}

.DateInput_input:focus .date-picker {
  text-align: center !important;
  border: 1px solid black !important;
  background-color: transparent !important;
}

.DayPicker_transitionContainer {
  border-radius: 16px !important;
}

.DayPicker_focusRegion {
  border-radius: 16px !important;
}

.DayPicker {
  border-radius: 16px !important;
}

.DateRangePicker_picker {
  border-radius: 16px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;

}

.booking-guests-header {
  margin-bottom: 7px;
  font-size: 12px;
}

.booking-guests-container {
  display: flex;
  height: 44px;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  border-left: 1px solid rgb(177, 177, 177);
  border-right: 1px solid rgb(177, 177, 177);
  border-bottom: 1px solid rgb(177, 177, 177);
  padding: 0;
  outline: none;
}

.booking-guests-input:focus::placeholder {
  color: transparent !important;
}

.booking-guests-text {
  font-size: 12px;
  color: rgb(107, 107, 107);
  display: flex;
  justify-content: center;
  align-self: center;
  text-transform: uppercase !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  width: 43%;
}

.booking-guests-text:hover {
  cursor: default;
}

.booking-guests-counter {
  width: 57%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.booking-guests-minus {
  width: 20%;
  background-color: white;
  outline: none;
  border: none;
}

.booking-guests-plus {
  width: 20%;
  background-color: white;
  outline: none;
  border: none;
}

.minus-button-allowed {
  display: flex;
  position: relative;
  height: 36px;
  width: 36px;
  background: transparent;
  right: 10px;
}

.minus-button-not-allowed {
  display: flex;
  position: relative;
  height: 36px;
  width: 36px;
  background: transparent;
  right: 10px;
}

.minus-button-allowed:hover {
  cursor: pointer;
}

.minus-button-not-allowed:hover {
  cursor: not-allowed;
}

.plus-button-allowed:hover {
  cursor: pointer;
}

.plus-button-not-allowed:hover {
  cursor: not-allowed;
}

.booking-guests-value {
  position: relative;
  right: 8px;
  width: 25%;
  font-size: 14px;
  color: rgb(44, 44, 44);
  font-weight: 500;
}

.plus-button-allowed {
  display: flex;
  position: relative;
  height: 36px;
  width: 36px;
  background: transparent;
  right: 18px;
}

.plus-button-not-allowed {
  display: flex;
  position: relative;
  height: 36px;
  width: 36px;
  background: transparent;
  right: 18px;
}

.booking-guests-value:hover {
  cursor: default;
}

.DateRangePickerInput_clearDates {
  position: relative !important;
  right: 8px !important;
  border-radius: 50%;
}

.booking-submit {
  min-height: 46px;
  width: 100%;
  background-color: #db1338;
  font-size: 16px;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 0;
  outline: none;
  border: none;
}

.book-button:hover {
  cursor: pointer;
}

.book-submit:hover {
  cursor: pointer;
}

.booking-charge-text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
}

.booking-divider {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.booking-bottom-container {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 12px;
  border-color: rgb(221, 221, 221)
}

.booking-bottom-container-inner {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  word-wrap: normal;
  justify-content: center;
  padding: 24px 25px 16px 30px;
  color: rgb(92, 90, 90);
}

.booking-bottom-text1 {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: 600;
}

.booking-bottom-text2 {
  font-family: sans-serif;
}

.lightbulb {
  height: 40px;
  width: 40px;
  padding-left: 15px;
}

.body-section-container {
  max-width: none;
  padding-left: 80px;
  padding-right: 80px;
}

.body-section-frame {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.host-body {
  padding-top: 48px;
  padding-bottom: 48px;
}

.host-body-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
  align-items: center;
}

.host-body-header-images-container {
  display: flex;
  flex-direction: row;
  justify-content: bottom;
}

.host-body-header-img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  background-size: cover;
  background-repeat: no-repeat;
}

.host-plus-detail {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: bottom;
  align-self: flex-end;
}

.plus-detail {
  padding-top: 3px;
  height: 15px;
  width: 30px;
  display: flex;
  align-self: bottom;
  position: relative;
  bottom: -2px;
  right: 15px;
  border-radius: 8px;
}

.host-body-header-text-container {
  display: flex;
  flex-direction: column;
}

.host-body-header-text-top {
  color: rgb(34, 34, 34);
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  font-family: sans-serif,
}

.host-body-header-text-bottom {
  color: rgb(168, 168, 168);
  font-family: sans-serif,
  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
}

.host-body-main {
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.host-body-main-left {
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
  position: relative;
  width: 41%;
}

.host-body-main-left-icons {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 24px;
  flex-flow: row wrap;
  display: flex;
  list-style: none;
  margin: 0px 0px 12px;
  padding: 0px;
  box-sizing: border-box;
}

.host-body-main-left-icons-item-container {
  margin-bottom: 0px;
  padding-right: 12px;
  display: flex;
  box-sizing: border-box;
}

.host-body-left-icons-item {
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.host-body-left-icons-item-icon-text {
  margin-left: 8px;
  color: #222222;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.host-body-main-left-icons-item-container-right {
  margin-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  box-sizing: border-box;
}

.host-body-main-left-icons-item-icon2 {
  display: flex;
}

.plus-detail-main-left-img {
  height: 25px;
  width: 100px;
  display: flex;
  align-self: bottom;
  position: relative;
  border-radius: 8px;
  bottom: 1px;
}

.host-body-main-left-intro-container {
  margin-bottom: 24px;
}

.host-body-main-left-intro-frame {
  color: rgb(34, 34, 34);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}

.host-body-main-left-description-text-top-container {
  margin-bottom: 24px;
}

.host-body-main-left-description-text-top-header {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.host-body-main-left-description-text-top-body {
  color: rgb(34, 34, 34);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}

.host-body-main-left-description-text-bottom-container {

}

.host-body-main-left-description-text-bottom-header {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.host-body-main-left-description-text-bottom-body {
  color: rgb(34, 34, 34);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}

.host-body-main-right {
  padding-left: 8px !important;
  padding-right: 8px !important;
  width: 41%;
  margin-left: 8%;
}

.host-body-main-right-response {
  margin-bottom: 16px;
  color: #222222;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.host-body-main-right-contact-button {
  margin-top: 32px;
}

.contact-host {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  width: auto;
  touch-action: manipulation;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
  color: rgb(0, 0, 0);
  margin: 0px;
  text-decoration: none;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  transition: box-shadow 0.2s ease 0s,
  -ms-transform 0.1s ease 0s,
  -webkit-transform 0.1s ease 0s,
  transform 0.1s ease 0s;
  border-color: rgb(34, 34, 34);
  background: rgb(255, 255, 255);
}

.contact-host:hover {
  color: black;
}

.host-body-main-right-warning {
  flex-direction: row;
  justify-content: initial;
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.host-body-main-right-warning {
  color: rgb(34, 34, 34) !important;
  font-weight: 300 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

.keylock-icon {
  margin-left: 0px !important;
  margin-right: 16px !important;
}

.keylock-img {
  height: 30px;
  width: 30px;
  display: block;
  fill: rgb(255, 180, 0);
}

.alreadybooked-container {
  width: 39%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 6%;
  position: relative;
  background-color: white;
  display: block;
}

.alreadybooked-body {
  top: 128px;
  background-color: white;
  position: sticky;
  box-sizing: border-box;
  z-index: 1;
  padding-right: 1px;
  display: flex;
  flex-direction: column;
  height: 200px;
  font-weight: bolder;
}

.alreadybooked-padding {
  padding-bottom: 48px;
}

.alreadybooked-body {
  margin-top: 48px;
  display: block;
  box-sizing: border-box;
}

.alreadybooked-body-margin {
  padding: 24px;
  border: 1px solid lightgrey;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  box-sizing: border-box;
}

.alreadybooked-text {
  font-size: 35px;
  padding-bottom: 40px;
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
}

.alreadybooked-text1 {
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.trip-container {
  margin-top: 36px;  
}

.trip-frame {
  padding: 0 80px 65px 80px;
  margin: auto;
  max-width: 1600px;
  box-sizing: border-box;
}

.trip-header {
  font-size: 32px;
  margin-bottom: 48px;
  font-weight: 700;
  overflow: hidden;
}

.trip-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.trip-index-item-container {
  min-width: 31%;
  width: 31%;
  max-width: 31%;
  margin: 0 11px 60px;
  box-sizing: border-box;
  padding-inline-start: 0;
}

.trip-index-item-frame {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.trip-index-item-frame:hover {
  box-shadow: rgba(0, 0, 0, 0.281) 0px 10px 18px;
  transition: box-shadow 0.2s ease 0s;
  cursor: pointer;
}

.trip-index-item-img {
  vertical-align: bottom;
  height: 180px;
  width: 100%;
  min-height: 1px;
}

.trip-iiimg {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.trip-index-item-body {
  padding: 24px 24px 0 24px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(204, 200, 200);
  overflow: hidden;
}

.trip-index-item-body-header {
  display: flex;
  justify-content: flex-end;
}

.trip-index-item-body-trip-plus {
  height: 25px;
  position: relative;
  top: -3px;
}

.trip-index-item-body-header-date-range {
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(158, 158, 158);
  width: 100%;
  overflow: hidden;
}

.trip-index-item-body-location {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Circular,
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  Helvetica Neue,
  sans-serif;
  top: -6px;
  position: relative;
}

.trip-index-item-body-description {
  display: flex;
  margin-top: 4px;
  height: 40px;
  margin-bottom: 10px;
}

.trip-mini-img-container {
  margin-right: 16px;
}

.mini-img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.trip-item-title {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

.trip-item-title-text {
  font-weight: 300;
  font-size: 14px;
  font-family: sans-serif;
  display: flex;
  align-self: center;
  overflow: hidden;
}

.greater-arrow {
  height: 24px;
  width: 24px;
}

.trip-index-item-bottom {
  height: 60px;
  display: flex;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.trip-index-item-bottom:hover {
  background-color: rgb(247, 247, 247);
}

.trip-index-item-bottom-text {
  margin: auto;
  font-size: 14px;
}

.lat-lng {
  color: white;
}

.leftbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search {
  display: flex;
  width: 463px;
  height: 47px;
  flex-direction: row;
  justify-content: start;
  padding: 0;
  margin: 0;
}

.search-drop-open {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
  justify-content: flex-start;
}

.search-drop-closed {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 0;
  justify-content: flex-start;
  
}

.search-bar {
  width: 477px;
  display: flex;
  flex-direction: row;
}

.search-bar-open {
  all: unset;
  display: flex;
  width: 551px;
  height: 46px;
  background-color: white;
  flex-direction: row;
  justify-content: flex-start;
  border-top-right-radius: 4px;
  font-size: 16px;
  border-left: none;
  padding-left: 10px;
  border: none;
  position: fixed;
  border-left: none;
  transition-property: width;
  transition-duration: .1s;
  transition-timing-function: ease;
  box-shadow: 1px 1px 3px 1px #ccc;
}

.search-bar-closed {
  all: unset;
  display: flex;
  width: 401px;
  height: 46px;
  background-color: white;
  flex-direction: row;
  justify-content: flex-start;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  padding-left: 10px;
  border-left: none;
  transition-property: width;
  transition-duration: .1s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 3px 1px #ccc;
}

.magglass {
  height: 46px;
  width: 40px;
  padding-right: 10px;
  background-color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  box-shadow: 1px 1px 3px 1px #ccc;

}

.magpic {
  padding-left: 3px;
}

.searched-items {
  width: 611px;
  margin: 0;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: left;
  background-color: white;
  font-weight: bold;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 0px;
  position: relative;
  z-index: 1000;
  top: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  transition-property: width;
  transition-duration: .1s;
  transition-timing-function: linear;
}

.searched-item-row {
  display: flex;
  flex-direction: row;
  width: 611px;
}

.locpic {
  width: 52px;
}

.searched-item {
  padding: 22px 0px 12px 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: block;
  top: 50%;
  width: 596px;
  align-content: middle;
  font-size: 15px;
  font-weight: 400;
}

.searched-item:hover {
  color: black;
  background-color: #f1f1f1;
}

.searched-item-row:hover .locpic {
  filter: invert(6%);
}

.locpic:hover ~ .searched-item {
  color: black;
  background-color: #f1f1f1;
}

.footer-container {
  border-top: 2px solid #dddddd;
  background-color: #F7F7F7;
  font-family: sans-serif;
}

.footer-show-frame {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer-index-frame {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-left {  
  font-family: sans-serif;
  font-size: 14px;
  color: #222222;
  text-align: center;
  display: flex;
  align-self: center;
  }

.footer-right {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}

.personal-site {
  display: flex;
  align-items: center;
  color: rgb(34, 60, 211);
  text-decoration: none;
  font-size: 17px;
}

.personal-site:hover {
  cursor: pointer;
  color: rgb(34, 60, 211);
}

.github-site {
  display: flex;
  align-items: center;
}

.linkedin-site {
  display: flex;
  align-items: center;
}

.linkedin-img {
  height: 24px;
  width: 24px;
  align-self: center;
  display: flex;
}

.github-img {
  height: 24px;
  width: 24px;
  align-self: center;
  display: flex;
}

.personal-img {
  height: 24px;
  width: 24px;
  align-self: center;
  display: flex;
}