.main {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "MontrealRegular";
}

.loginbuttons {
  outline: none;
}

.hrtag {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.splash {
  background: image-url("arch.jpg");
  background-position: 30%;
  width: 100%;
  height: inherit;
  background-size: cover;
}

.topbar {
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.topsec {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.splash-topbar {
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  background-color: none;
  margin-left: 30px;
}

.twobar {
  width: auto;
  justify-content: flex-end;
  padding: 5px;
  display: flex;
  margin: 0 10px;
  align-items: flex-end;
}

.twobar li {
  display: inline-block;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 0;
  list-style: none;
  margin: 0 10px;
}

.splashbuttons {
  width: 500px;
  font-weight: bolder;
  color: white;
  text-align: right;
}

.loginbuttons {
  text-shadow: 5px;
  font-size: 15px;
  height: 80px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.loginbuttons:hover {
  border-bottom: 2px solid white;
}

.icon {
  color: white;
  margin-left: 10px;
}

a:hover {
  color: red;
  text-decoration: none;
}

.login-form-container {
  position: relative;
  height: 650px;
  width: 568px;
  color: black;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
}

.login-form-box {
  box-sizing: border-box;
  background-color: white;
  height: auto;
  width: inherit;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  height: 250px;
}

.close-x {
  font-weight: 100;
  font-size: 20px;
  height: 16px;
  width: 504px;
  justify-content: flex-start;
  text-align: left;
  cursor: pointer;
  padding-bottom: 10px;
}

.login-greet {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: normal;
  font-family: Circular;
  color: rgb(72, 72, 72);
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px;
}

.errors {
  width: 500px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  padding-right: 35px;
  font-weight: 600;
}

.form-submit {
  font-size: 16px;
  height: 42px;
  width: 504px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: white;
}

.session-submit {
  height: 46px;
  width: 510px;
  background-color: #ff5a5f;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.demo-button {
  background-color: #417af4;
  color: white;
  height: 46px;
  width: 510px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

.or-otherform {
  text-decoration: none;
  text-shadow: 5px;
  font-size: 16px;
  height: 80px;
  font-weight: 600;
  color: #0a937a;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sl-text {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}

.greet-topsec {
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.greet-splashbuttons {
  width: 500px;
  font-weight: bolder;
  color: black;
  text-align: right;
}

.greet-loginbuttons:focus {
  outline: none;
}
.header-button:focus {
  outline: none;
}

.greet-loginbuttons {
  text-shadow: 5px;
  font-size: 15px;
  height: 80px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.greet-loginbuttons:hover {
  border-bottom: 2px solid black;
}

.greet-icon {
  color: black;
  margin-left: 10px;
}

.header-button {
  text-decoration: none;
  text-shadow: 5px;
  font-size: 15px;
  height: 80px;
  font-weight: bold;
  color: black;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.greethr {
  color: #f8f9f9;
  height: 1;
}

.body-content {
  position: relative;
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 20px;
}

.sidenav {
  height: 2000px;
  width: 288px;
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.list-body {
  padding: 20px;
}

.list-items {
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.space {
  height: 100%;
  width: 100%;
}

.listing-index {
  width: 300px;
  margin-bottom: 25px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.listing-index-item:hover {
  cursor: pointer;
}

.list-img {
  height: 180px;
  width: 270px;
  object-fit: fill;
}

.index-item-rating {
}

.plus {
  padding-top: 3px;
  height: 25px;
  width: 100px;
  display: flex;
  align-items: center;
}

.trip-plus-container {
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-plus {
  padding-top: 3px;
  height: 25px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-item-title {
  font-weight: bolder;
  font-size: 17px;
  margin-top: 5px;
}
.index-item-price {
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  align-items: bottom;
}
.index-item-rating {
  font-size: 13px;
  display: flex;
  align-items: top;
}
.index-item-rating div {
  margin-right: 5px;
}

.star {
  height: 15px;
  width: 15px;
  line-height: 5px;
}

.listing_index_info {
  height: 20px;
  width: 300px;
  padding: 20px;
}

.demoo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-show-body {
}

.list-show-images {
  display: flex;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.list-show-images img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -webkit-filter: brightness(130%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
}

.list-show-image-main {
  width: 45%;
  height: 100%;
  display: flex;
  background-size: cover;
  overflow: hidden;
}

.list-show-image-main img {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.list-show-image-side {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.list-show-image-side img {
}

.index-image {
  max-height: 50%;
  min-height: 50%;
  max-width: 50%;
  min-width: 50%;
  overflow: hidden;
  background-size: cover;
}

.index-image img {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.listing-body {
  justify-content: center;
  padding: left 400px;
  display: flex;
  flex-direction: row;
}

.listing-lis {
  width: 595px;
  height: 500px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.property-type {
  font-size: 13px;
  font-weight: bolder;
}

.listing-title {
  font-weight: 900;
  font-size: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.listing-amenities-preview {
  border-bottom: 1px solid lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.amenities-preview li {
  display: flex;
  align-items: center;
}

.amenities-icon {
  height: 13px;
  width: 13px;
  margin-right: 7px;
}

.preview-house {
  display: flex;
  flex-direction: row;
  height: 44px;
  width: 100%;
  padding-bottom: 20px;
}

.house-box {
  height: 16px;
  width: 24px;
  padding-bottom: 5px;
}

.house-icon {
  max-width: 12px;
  min-width: 12px;
  max-height: 20px;
  min-height: 20px;
  background-size: cover;
  margin-right: 7px;
}

.preview-body {
  display: flex;
  flex-direction: column;
}

.house-type {
  height: 18px;
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.amenities-preview {
  display: flex;
  flex-direction: row;
  height: 18px;
  align-content: space-between;
  list-style: none;
}

.amenities-preview li {
  margin-right: 20px;
}

.the-space {
  color: #484848;
  font-weight: 600 !important;
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.booking-form {
  height: 472px;
  width: 366px;
  background-color: white;
  margin-left: 10px;
  border: 1px solid lightgrey;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.booking-body {
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 326px;
  background-color: white;
  margin-left: 25px;
  margin-top: 20px;
}

.booking-price {
  display: flex;
  flex-direction: row;
}

.booking-price-integer {
  font-size: 22px;
  display: flex;
  margin-right: 3px;
}

.booking-price-pernight {
  font-weight: 200;
  font-size: 12px;
  line-height: 34px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-left: 2px;
  margin-right: 0px;
  padding-right: 0px;
}

.booking-rating {
  padding-left: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  font-size: 8px;
  padding-top: 8px;
  padding-bottom: 22px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.booking-rating div {
  margin-right: 3px;
}

.booking-star {
  height: 12px;
  width: 12px;
  line-height: 5px;
  display: flex;
  align-items: bottom;
}

.booking-dates-header {
  margin-top: 25px;
  font-size: 12px;
}

.date-picker {
  width: 325px;
  height: 94px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.date-picker:hover {
  cursor: pointer;
}

#start-date,
#end-date {
  margin: 0;
  text-align: justify;
  border: none;
}

#end-date:hover,
#start-date:hover {
  cursor: pointer;
}

#start-date {
  border: none;
  text-align: center;
}

#start-date:focus,
#end-date:focus {
  color: #007a87;
  background-color: #99ede6;
  padding: 0;
}

.DateRangePicker {
  position: absolute;
  top: 9px;
  right: -40px;
}

div.DateInput.DateInput_1 {
  width: 136px;
}

.DateRangePickerInput {
  padding-right: 0 !important;
  width: 323px;
  position: absolute;
  left: -40px;
}

.booking-guests-header {
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 12px;
}

.booking-guests-input {
  display: flex;
  height: 40px;
  width: 93.5%;
  font-size: 20px;
  font-weight: 300;
  padding-left: 16px;
  padding-bottom: 10px;
  line-height: 1.6em;
}

.booking-submit {
  min-height: 46px;
  width: 100%;
  background-color: #ff5a5f;
  font-size: 16px;
  color: white;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 30px;
}

.book-button:hover {
  cursor: pointer;
}

.book-button:hover {
  cursor: pointer;
}
.book-submit:hover {
  cursor: pointer;
}

.booking-charge-text {
  text-align: center;
  font-size: 12px;
}

.booking-divider {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.booking-bottom-container {
  width: 326px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-size: 48px;
  margin-top: 30px;
  transition: margin-top 0.4s ease 0s;
  background-repeat: no-repeat;
  background-position: right center;
}

.booking-bottom-container-inner {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  word-wrap: normal;
  justify-content: center;
}

.booking-bottom-text1 {
  margin-bottom: 10px;
}

.lightbulb {
  height: 40px;
  width: 40px;
  padding-right: 20px;
  padding-left: 10px;
}

.alreadybooked-container {
  height: 300px;
  width: 600px;
  background-color: white;
  margin-left: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.alreadybooked-body {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 800px;
  background-color: white;
  margin-left: 25px;
  margin-top: 50px;
  justify-content: flex-start;
  align-content: left;
  font-weight: bolder;
  border-bottom: 1px solid lightgrey;
}

.alreadybooked-text {
  font-size: 40px;

  padding-bottom: 40px;
  padding-left: 25px;
}

.alreadybooked-text1 {
  padding-left: 25px;
  font-size: 30px;
}

.loggedin-buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.trip-container {
  height: 2000px;
  display: flex;
  justify-content: center;
}

.trip-body {
  height: 2000px;
  width: 1070px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.trip-booked-trips-text {
  font-size: 40px;
  margin-bottom: 100px;
  font-weight: 600;
}

.trip-content {
  height: 1500px;
  width: 1070px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trip-items {
  width: 1070px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trip-index-item {
  width: 325px;
  height: 500px;
  margin-bottom: 25px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  background-size: cover;
  padding-right: 15px;
}

.trip-index-item-img:hover {
  cursor: pointer;
}

.trip-list-img {
}

.trip-list-img {
  height: 200px;
  width: 325px;
  background-size: cover;
  overflow: hidden;
}

.trip-space {
  height: 50px;
  width: 325px;
  border-bottom: 1px solid lightgrey;
}

.trip-item-info {
  width: 325px;
  height: 100px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
}

.trip-item-title {
  width: 300px;
  font-weight: bolder;
  font-size: 17px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  padding-left: 10px;
}

.trip-item-price {
  width: 325px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.trip-item-rating {
  width: 325px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.trip-item-rating div {
  margin-right: 5px;
}

.map-conatiner {
  width: 300px;
  height: 300px;
}
.map {
  height: 300px;
  width: 300px;
}

.null {
}
